@tailwind base;
@tailwind components;
@tailwind utilities;

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.manrope-medium {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
.manrope-bold {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
.fira-code-regular {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.fira-code-medium {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.fira-code-bold {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .manrope-custom {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
  }