@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  height: 100%;
  background-color: #292464; 
  margin: 0; 

  font-family: 'Fira Code', serif;
  font-weight: 450;
}

/* just in case  */
/* Ensure body uses flexbox to stretch content to full height */
/* body {
  display: flex;
  flex-direction: column;
} */

/* Ensure root layout container stretches to fill full height */
/* #__next {
  flex-grow: 1;
} */

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.manrope-medium {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
.manrope-bold {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
.fira-code-regular {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
  }

.fira-code-medium {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.fira-code-bold {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .manrope-custom {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
  }

  .bg-foreground {
    background-color: #2e3058
  }

  /* Hide scrollbar on Chrome, Safari, and other WebKit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar on Firefox */
html {
  scrollbar-width: none; /* For Firefox */
}

/* Optional: This prevents touch devices from having scroll overflow indicators */
body {
  -ms-overflow-style: none; /* For IE and Edge */
  overflow: -moz-scrollbars-none; /* For older Firefox versions */
}

.hide-scrollbar {
  overflow: auto;
  -ms-overflow-style: none;     /* IE and Edge */
  scrollbar-width: none;        /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, and Opera */
}

